.progress_container {
  grid-area: top-section;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.progress_counter {
  margin: auto;
  color: #f37021;
}

.progress_bar_container {
  position: relative;
  width: 100%;
  height: 5px;
}

.progress_bar_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  border: none;
}

.progress_bar {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #f37021;
  border: none;
  transition: width ease-in-out 300ms;
}

.survey {
  grid-area: middle-section;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.survey_slider {
  display: flex;
  align-items: center;
}

.survey_slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: fit-content;
  height: 80%;
  position: absolute;
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  transition-delay: 0ms;
}

.survey_slide.active {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.question_container {
  width: 100%;
  display: flex;
  margin: 15px auto 15px auto;
  flex-direction: column;
  align-items: center;
}

.question_body {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.question_body p {
  margin-bottom: 10px;
}

.question_body ul {
  margin-left: 35px;
}

.answer_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer_body {
  width: 100%;
  height: 130px;
  padding: 5px;
  border-color: #f37021;
  border-width: 2px;
  border-style: solid;
  outline: none;
  font-size: 1rem;
  resize: none;
}

.complete_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: fit-content;
  height: 80%;
  margin: auto;
  position: absolute;
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  transition-delay: 0ms;
}

.complete_page.active {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.complete_container {
  width: 100%;
  display: flex;
  margin: auto 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.complete_heading {
  font-size: 1.4rem;
  font-weight: bold;
  color: #f37021;
  text-align: center;
}

.feedback_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback_container p {
  width: 100%;
  font-weight: bold;
  margin: 5px 0;
}

.feedback_body {
  width: 100%;
  height: 130px;
  padding: 5px;
  border-color: #f37021;
  border-width: 2px;
  border-style: solid;
  outline: none;
  font-size: 1rem;
  resize: none;
}

.email_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.email_container input {
  display: flex;
  width: 49.5%;
  height: 30px;
  padding: 5px;
  margin-bottom: 5px;
  border-color: #f37021;
  border-width: 2px;
  border-style: solid;
  outline: none;
  font-size: 1rem;
}

.button_container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  z-index: 3;
}

.button_container button {
  width: 92px;
  height: 48px;
}

.button_container button.button_active,
.button_container button.button_active a {
  color: white;
  cursor: pointer;
}

.button_container button.button_active:hover,
.button_container button.button_active a:hover {
  background-color: #f37021;
}

@media only screen and (max-width: 765px) {
  .progress_counter {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 440px) {
  .complete_heading {
    font-size: 1.3rem;
  }

  .email_container {
    flex-direction: column;
  }

  .email_container input {
    width: 100%;
  }
}
