.progress_container {
  grid-area: top-section;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.progress_counter {
  margin: auto;
  color: #f37021;
}

.progress_bar_container {
  position: relative;
  width: 100vw;
  height: 5px;
}

.progress_bar_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  border: none;
}

.progress_bar {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #f37021;
  border: none;
  transition: width ease-in-out 300ms;
}

.survey {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(60vh, auto) auto;
  gap: 0px 0px;
  grid-template-areas:
    "middle-top-section"
    "middle-bottom-section";
  grid-area: middle-section;
  justify-items: center;
  position: relative;
}

.survey_slider {
  display: flex;
  position: relative;
  align-items: center;
}

.survey_slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: fit-content;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  transition-delay: 0ms;
}

.survey_slide.active {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.question_container {
  grid-area: middle-top-section;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 15px auto auto auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question_body {
  margin: auto;
}

.question_body p {
  margin-bottom: 10px;
}

.question_body ul {
  margin-left: 35px;
}

.answer_container {
  grid-area: middle-bottom-section;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer_body {
  width: 100%;
  height: 130px;
  padding: 5px;
  border-color: #f37021;
  border-width: 2px;
  border-style: solid;
  outline: none;
  font-size: 1rem;
  resize: none;
}

.complete_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  max-width: fit-content;
  margin: auto;
  position: absolute;
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  transition-delay: 0ms;
}

.complete_page.active {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.complete_container {
  grid-area: middle-top-section;
  height: 100%;
  width: 100%;
  display: flex;
  margin: 15px auto auto auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.complete_body {
  margin-top: auto;
}

.complete_heading {
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #f37021;
  text-align: center;
}

.feedback_container {
  grid-area: middle-bottom-section;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto auto auto;
}

.feedback_container p {
  font-weight: bold;
}

.feedback_body {
  width: 100%;
  height: 130px;
  padding: 5px;
  margin-bottom: 5px;
  border-color: #f37021;
  border-width: 2px;
  border-style: solid;
  outline: none;
  font-size: 1rem;
  resize: none;
}

.email_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.email_container input {
  display: flex;
  width: 49.5%;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  border-color: #f37021;
  border-width: 2px;
  border-style: solid;
  outline: none;
  font-size: 1rem;
}

.button_container {
  grid-area: bottom-section;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.button_container button {
  width: 92px;
  height: 48px;
}

.button_container button.button_active,
.button_container button.button_active a {
  color: white;
  cursor: pointer;
}

.button_container button.button_active:hover,
.button_container button.button_active a:hover {
  background-color: #f37021;
}

@media only screen and (max-width: 685px) {
  .progress_counter {
    font-size: 1.3rem;
  }
}
